<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"
       default-init-method="init"
       default-destroy-method="destroy">

    <!-- annotation설정을 위해 추가-->
    <context:annotation-config/>
    <context:property-placeholder location="classpath:api.properties" />

    <!-- @Required 애너테이션 사용을 위해 추가 -->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />

    <bean id="smsMessageSender" class="com.nhnacademy.edu.springframework.messagesender.service.SmsMessageSender">
        <qualifier type="com.nhnacademy.edu.springframework.messagesender.Annotation.Sms">
            <attribute key="dummy" value="true"/>
        </qualifier>
    </bean>

    <bean id="emailMessageSender" class="com.nhnacademy.edu.springframework.messagesender.service.EmailMessageSender">
    </bean>

    <bean id="messageService" class="com.nhnacademy.edu.springframework.messagesender.service.MessageService">
    </bean>
</beans>